<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C487E1E-30D6-4176-BE4F-D15FEEA8DFE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sergio Luiz Dobri</string>
	<key>description</key>
	<string>Descanso de 15 minutos</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Long Break</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>minutes=15

if [ $# -gt 0 ]; then
  minutes=$1
  shift
fi


finish() {
  say pausa finalizada
}

trap finish EXIT

say iniciando a pausa de 15 minutos

while true; do
  sleep 60
  let "minutes--"
  [ $minutes -le 0 ] &amp;&amp; break
done</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6C487E1E-30D6-4176-BE4F-D15FEEA8DFE5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>long</string>
				<key>subtext</key>
				<string>Start timer</string>
				<key>text</key>
				<string>Long break of 15 minutes</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B11B132B-4A61-4C05-8F4F-2111F454E6C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6C487E1E-30D6-4176-BE4F-D15FEEA8DFE5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
